@media screen and (max-width:991px)
{

    nav
    {
        display: flex;
        flex-direction: row;
        gap: 20px;
        font-size: 10px;
        padding-top: 20px;
        padding-bottom: 10px;
        margin-left: 170px;
    }
    .c2
    {
        display: flex;
        flex-direction: none;
    }
    #my
    {
        border-radius: 250px;
        position: absolute;
        border: 7px double white;
        height: 300px;
        width: 300px;
        margin-left: 650px;
        margin-top: 150px;
        background: #111;
        border: 2px solid #00ffea;
        box-shadow: 0 0 10px #00ffea,
                    0 0 20px #00ffea,
                    0 0 30px #00ffea;
    }
    #nam
{
    color:white;
    font-size: 50px;
    position: absolute;
    padding-top: 100px;
    margin-left: -200px;
    font-family: "Calibri Light";
    font-weight: 800;
}
#nam01
{
    color: white;
    font-size: 50px;
    position: absolute;
    padding-top: 180px;
    margin-left: -210px;
    font-family: "Calibri Light";
    font-weight: 800;
}
#nam1
{
    position: absolute;
    color: white;
    padding-top: 260px;
    margin-left: 130px;
    font-size: 25px;
    font-family: "Arial Nova Light";
    font-weight: 200;
    margin-right: 10px;

}
#nam2
{
    position: absolute;
    color: white;
    padding-top: 310px;
    margin-left:220px;
    font-size: 25px;
    font-family: "Freestyle Script";
}
    #btn1
{
    position: absolute;
    margin-top: 360px;
    padding: 20px;
    margin-left: 130px;
    background-color: rgb(96, 170, 202);
    color: white;
    border: 2px solid white;
    border-radius: 20px;
    font-weight: 700;
}
#btn2
{
    position: absolute;
    margin-top: 360px;
    padding: 20px;
    margin-left: 400px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 20px;
    font-weight: 700;
}
.c2
{
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.6)),url(pexels-markburnett-1095817.jpg);
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    background-position: center;
    
}
a
{
    text-decoration: none;
}
}
@media screen and (max-width:767px)
{
    *
    {
        padding: 0;
        margin: 0;
        max-width: 100%;
    }
    .nav-toggle
    {
        display: block;
        margin-right: 20px;
        padding-top: 25px; 
        margin-left: 80%;
    }
    nav 
    {
        display: none;
    }
    #my
    {
        border-radius: 250px;
        position: absolute;
        border: 7px double white;
        height: 250px;
        width: 250px;
        margin-left: 250px;
        margin-top: -24%;
        margin-bottom: 20px;
        background: #111;
        border: 2px solid #00ffea;
        box-shadow: 0 0 10px #00ffea,
                    0 0 20px #00ffea,
                    0 0 30px #00ffea;
    }
    .c02
    {
        display: block;
        margin-top: 240px;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin-left: 55px;
        margin-right: auto;
    }
    .c2
    {
        background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.6)),url(pexels-markburnett-1095817.jpg);
        height: 700px;
        background-size: cover;
        background-repeat: no-repeat;
        overflow: hidden;
        
    }
     
}

@media screen and (max-width:480px)
{
 *
 {
    padding: 0;
    margin: 0;
    max-width: 100%;
    
 }
  body 
 {

    max-width: 100%;
 }
 .nav-toggle
 {
    display: block;
    padding-top: 25px; 
    margin-left: 75%;
 }
 nav 
 {
    display: none;
 }
 a 
 {
    color: black;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    max-width: 100%;
 }

 #my 
 {
    position: absolute;
    height: 200px;
    width: 200px;   
    border-radius: 50%;
    margin-top: 100px;
    display: block;
    margin-left: 140px;
    margin-top:-40%;
    max-width: 100%;
    background: #111;
    border: 2px solid #00ffea;
    box-shadow: 0 0 10px #00ffea,
                0 0 20px #00ffea,
                0 0 30px #00ffea;
 }
 .c02
 {
    padding: 0;
    margin-top: 230px;

 }
 #nam
{
    color: white;
    font-size: 30px;
    position: absolute;
    margin-left: -280px;
    margin-top: -50px;
    font-family: "Calibri Light";
    font-weight: 800;
}
#nam01
{
    color: white;
    font-size: 30px;
    position: absolute;
    margin-left: -290px;
    margin-top: -90px;
    font-family: "Calibri Light";
    font-weight: 800;
}
#nam1
{
    position: absolute;
    color: white;
    margin-right: auto;
    margin-top: -120px;
    margin-left: 30px;
    font-size: 20px;
    font-family: "Arial Nova Light";
    font-weight: 200;
}
#nam2
{
    position: absolute;
    color: white;
    margin-left: 100px;
    margin-top: -130px;
    font-size: 20px;
    font-family: "Freestyle Script";
}
#btn1
{
    position: absolute;
    margin-top: 425px;
    padding: 10px;
    width: 70%;
    margin-left: 20px;
    margin-top: 250px;
    background-color: rgb(96, 170, 202);
    color: white;
    border: 2px solid white;
    border-radius: 20px;
    font-weight: 700;
}
#btn2
{
    position: absolute;
    margin-top: 425px;
    padding: 10px;
    width: 70%;
    margin-left: 20px;
    margin-top: 310px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 20px;
    font-weight: 700;
}

}