*
{
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.c1
{
    background-color: white;
    height: 70px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
nav
{
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
   margin-left: 600px;


}
.nav-toggle
{
    display: none;
}

.c2
{
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.6)),url(pexels-markburnett-1095817.jpg);
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    
}
#my
{
    border-radius: 250px;
    position: absolute;
    border: 7px double white;
    height: 500px;
    width: 500px;
    margin-left: 1100px;
    margin-top: 45px;
    background: #111;
    border: 2px solid #00ffea;
    box-shadow: 0 0 10px #00ffea,
                0 0 20px #00ffea,
                0 0 30px #00ffea,
                0 0 40px #00ffea;
}
#nam
{
    color: rgb(249, 249, 249);
    font-size: 70px;
    position: absolute;
    padding-top: 100px;
    padding-left: 415px;
    font-family: "Calibri Light";
    font-weight: 800;
}
#nam01
{
    color: rgb(249, 249, 249);
    font-size: 70px;
    position: absolute;
    padding-top: 180px;
    padding-left: 415px;
    font-family: "Calibri Light";
    font-weight: 800;
    text-align: center;
    justify-items: auto;
}
#nam1
{
    position: absolute;
    color: white;
    margin-right: 10px;
    padding-top: 280px;
    margin-left: 350px;
    font-size: 30px;
    font-family: "Arial Nova Light";
    font-weight: 200;


}
#nam2
{
    position: absolute;
    color: white;
    padding-top: 330px;
    margin-left: 435px;
    font-size: 30px;
    font-family: "Freestyle Script";
}
#btn1
{
    position: absolute;
    margin-top: 425px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-left: 415px;
    background-color: rgb(96, 170, 202);
    color: white;
    border: 2px solid white;
    border-radius: 20px;
    font-weight: 700;
}
#btn2
{
    position: absolute;
    margin-top: 425px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-left: 625px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 20px;
    font-weight: 700;
}
body
{
    transform: scale(1);
    transform-origin: 0 0;
    width: 111.1%; /* scale नंतर width fix ठेवण्यासाठी */
}
#logo
{
    height: 70px;
    width: 70px;
}
#n
{
    color: black;
    text-decoration: none;
       text-decoration: none;
}